<div class="container">
  <div class="details">
    <app-titel title="Login"></app-titel>

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="input-container">
        <label> Eamil </label>

        <div>
          <input type="email" placeholder="Email" formControlName="email" />
        </div>

        <div class="error-list" *ngIf="fc.email.errors && isSubmitted">
            <!--
            Das bedeuted wir sehen dieerror list wenn die email hat errors und der login button wurde geklickt 
        -->

        <div *ngIf="fc.email.errors.required">Should not be empty</div>
            
        <div *ngIf="fc.email.errors.email">Email is not correct </div>
        </div> 
      </div>

      <div class="input-container">
        <label> Password </label>

        <div>
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
          />
        </div>
        <div class="error-list" *ngIf="fc.password.errors && isSubmitted">
            <!--
            Das bedeuted wir sehen dieerror list wenn die email hat errors und der login button wurde geklickt 
        -->

        <div *ngIf="fc.password.errors.required">Should not be empty</div>
            
     
        </div> 

      </div>

      <div class="button"> 
        <button type="submit">Login</button>
      </div>

      <div class="register">
        New user? &nbsp;
        <a routerLink="/register" [queryParams]="{ returnUrl: returnUrl }">
          Register here
        </a>
      </div>
    </form>
  </div>
</div>
