<header> 
    <div class="container">

        <a routerLink="/" class="logo">Food Mine!</a>

        <nav> 
<ul>
    <li *ngIf="!isAuth"> <!-- بتبين بس لما ما يسجل الدخول-->
        <a routerLink="/login">Login</a>
    </li>
    <li *ngIf="isAuth" class="menu-container"> <!-- بتبين بس لما يسجل الدخول-->
        <a routerLink="/dashboard">{{user.name}}</a>

        <div class="menu">
            <a routerlink="/profile">Profile</a>
            <a routerlink="/orders">Orders</a>
            <a (click)="logout()">Logout</a>
                </div>

    </li>
    
    <li>
        <a routerLink="/cart-page">
            Cart <span *ngIf="cartQuantity">{{cartQuantity}}</span>
        </a>
    </li>
   
</ul>

        </nav>        
        </div> </header>
